@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    position: relative;
    float: bottom;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    padding: 10px;
}

* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #212121;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.navbar span a {
    color: #eb8000;
    text-decoration: none;
    text-transform: uppercase;

}

.navbar span {
    margin-left: 5px;
    margin-right: 50px;
}

.navbar .logo {
    padding-left: 20px;
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.main-body {
    display: flex;
    justify-content: center;
    background-image: url("../img/home-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    border: 15px solid orange !important;
    display: flex;
    flex-direction: column;
    background-color: #484848;
    color: white;
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;
    align-items: flex-start;

}

.item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    box-sizing: unset !important;

}

.item span {
    text-transform: uppercase;
    align-items: center;
}

.split-item {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    align-content: flex-start;
    height: 200px;
}

.bottom {
    align-content: flex-end;
    height: 200px;
}

.info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info p {
    margin-left: 5px;
    padding: 2px;
}
.info h3 {
    text-align: center;

}
/* EINDE eigen code */

.form-group {
    border: 1px solid lightgrey;
    padding: 10px;
}

.form-group label {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    vertical-align: top;
}

.form-group input[type=text], .form-group textarea {
    width: 300px;
}

.form-group input[type=submit] {
    padding: 10px;
    cursor: pointer;
}

